<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container">

    <div class="row col-md-12 py-4">
        <h2>Edit roles form:</h2>
    </div>
    <form th:action="@{/admin/account/editRoles}" method="post">
        <div class="row col-md-12">
            <input type="hidden" name="accountId" th:value="${user.getId()}">
            <div class="row col-12" th:each="role : ${roles}">
                <div class="col-4" th:text="${role.getName()}"></div>
                <div class="col-4">
                    <input th:name="${role.getName()}" class="form-check-input" type="checkbox"
                           th:checked="${user.getRoles().contains(role)}">
                </div>
            </div>
            <div class="col-md-6 text-center py-3">
                <button type="submit" class="btn btn-outline-primary btn-sm" >
                    Submit
                </button>
            </div>
        </div>
    </form>

</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>