<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container">

    <div class="row col-md-12 py-5">
        <h2>Password reset form for user: <span th:text="${user.getUsername()}"></span></h2>
    </div>

    <form th:action="@{/admin/account/resetPassword}" method="post">
        <div class="row">
            <div class="col-md-6">
                <input type="hidden" name="accountId" th:value="${user.getId()}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="password">Password:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" id="password" type="password" name="password">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-primary btn-block">
                    Reset password
                </button>
            </div>
        </div>
    </form>
</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>