<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Company details</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container">
    <div class="row col-md-12 py-5 text-center top-distance">
        <h2>Company: <span th:text="${company.name}"></span></h2>
    </div>


    <form class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="company-address">Address:</label>
                <input disabled id="company-address" th:value="${company.address}" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="company-city">City:</label>
                <input disabled id="company-city" th:value="${company.city}" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="company-postcode">Post code:</label>
                <input disabled id="company-postcode" th:value="${company.postCode}" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="company-country">Country:</label>
                <input disabled id="company-country" th:value="${company.country}" class="form-control">
            </div>
        </div>
    </form>

    <div class="row top-distance">
        <div class="col-md-10">
            <h4 class="mb-4">Person notification list</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Person name</th>
                <th>Date created</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Approved</th>
                <th>Edit</th>
                <!--<th>Set</th>-->
            </tr>
            </thead>
            <tbody>
            <th:block th:each="person : ${company.getPersons()}">

                <tr th:each="notify : ${person.getNotyfics()}">
                    <td th:text="${notify.id}"></td>
                    <td th:text="${notify.person.firstname} +' '+${notify.person.lastname}"></td>
                    <td th:text="${notify.dateTimeCreated}"></td>
                    <td th:text="${notify.startDateTime}"></td>
                    <td th:text="${notify.endDateTime}"></td>
                    <td th:text="${notify.isApproved()}"></td>
                    <td>
                        <a th:href="'/notyficPerson/edit/' + ${notify.id}">
                            <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/notyficPerson/approve/' + ${notify.id}">
                            <button type="button" th:disabled="${notify.isApproved()}" sec:authorize="hasRole('MANAGER')"
                                    class="btn btn-outline-primary btn-sm">Approve
                            </button>
                        </a>
                    </td>
            </th:block>
            </tbody>
        </table>
    </div>


    <div class="row top-distance">
        <div class="col-md-10">
            <h4 class="mb-4">Car notification list</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Car registration</th>
                <th>Date created</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Approved</th>
                <th>Edit</th>
                <!--<th>Set</th>-->
            </tr>
            </thead>
            <tbody>
            <th:block th:each="car : ${company.getCars()}">

                <tr th:each="notify : ${car.getNotyfics()}">
                    <td th:text="${notify.id}"></td>
                    <td th:text="${notify.car.registrationNr}"></td>
                    <td th:text="${notify.dateTimeCreated}"></td>
                    <td th:text="${notify.startDateTime}"></td>
                    <td th:text="${notify.endDateTime}"></td>
                    <td th:text="${notify.isApproved()}"></td>
                    <td>
                        <a th:href="'/notyficCar/edit/' + ${notify.id}">
                            <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/notyficCar/approve/' + ${notify.id}">
                            <button type="button" th:disabled="${notify.isApproved()}" sec:authorize="hasRole('MANAGER')"
                                    class="btn btn-outline-primary btn-sm">Approve
                            </button>
                        </a>
                    </td>
            </th:block>
            </tbody>
        </table>
    </div>


    <div class="row top-distance">
        <div class="col-md-10">
            <h4 class="mb-4">Person list</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Id document</th>
                <th>Edit</th>
                <th>Notify</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${company.getPersons()}" th:class="${personsSearched.contains(person) ? 'founded' : ''}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.firstname}"></td>
                <td th:text="${person.lastname}"></td>
                <td th:text="${person.idDocument}"></td>
                <td>
                    <a th:href="'/person/edit/' + ${person.id}">
                        <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    </a>
                </td>
                <td>
                    <a th:href="'/notyficPerson/save/' + ${person.id}">
                        <button type="button" class="btn btn-outline-primary btn-sm">Notify</button>
                    </a>
                </td>
            </tr>
            <tr>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-md-2">
        <a th:href="'/company/addPerson/' + ${company.id}">
            <button type="button" class="btn btn-outline-primary btn-sm">Add person</button>
        </a>
    </div>



    <div class="row top-distance">
        <div class="col-md-10">
            <h4 class="mb-4">Cars list</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Mark</th>
                <th>Model</th>
                <th>Registration nr</th>
                <th>Edit</th>
                <th>Notify</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${company.getCars()}" th:class="${carsSearched.contains(car) ? 'founded' : ''}">
                <td th:text="${car.id}" ></td>
                <td th:text="${car.mark}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.registrationNr}"></td>
                <td><a th:href="'/car/edit/' + ${car.id}">
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                </a></td>
                <td><a th:href="'/notyficCar/save/' + ${car.id}">
                    <button type="button" class="btn btn-outline-primary btn-sm">Notify</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-md-2">
        <a th:href="'/company/addCar/' + ${company.id}">
            <button type="button" class="btn btn-outline-primary btn-sm">Add car</button>
        </a>
    </div>



</div>


<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>

</body>
</html>