<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>
<div class="container">

<div th:class="justify-content-center">
    <h1>Shit, this is error page.</h1>
    <h1>We are working on it.</h1>

    <th:block th:if="${errorMessage != null}">
        <h2 th:text="${errorMessage}"></h2>
    </th:block>
</div>

</div>
<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>