<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="styleLinks">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">

    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <header>

        <nav class="navbar navbar-expand-md navbar-dark bg-primary">

            <a class="navbar-brand" th:href="@{/}"><img  src="http://localhost:8080/images/logomenu.png" width="40" height="51" ></a>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/whenLoggedIn}">Logged-->
                            <!--in</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/account/list}">User
                            list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/company/list}">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('SECURITY')" th:href="@{/security/main}">Security</a>
                    </li>
                </ul>

                <div class="mt-2 mt-md-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                               th:href="@{/register}">Register</a>
                        </li>
                    </ul>
                </div>

                <form class="form-inline my-2 my-lg-0" th:action="@{/search}" th:method="post">
                    <input class="form-control mr-sm-2" th:name="input" type="search"
                           placeholder="Search">
                    <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>


            </div>
        </nav>
    </header>
</th:block>

<th:block th:fragment="footer">
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2019 Marcin Kobierowski, Szymon Khun</p>
    </footer>
</th:block>

<th:block th:fragment="jsScripts">
    <script type="application/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</th:block>
</body>
</html>