<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>
<div class="container">

    <div class="row col-md-12 py-5 text-center top-distance justify-content-center">
        <!--<div class="row col-md-12 justify-content-center">-->
            <!--<h1>Main page</h1>-->
        <!--</div>-->
        <div class="row col-md-12 justify-content-center">
            <h1 sec:authorize="!isAuthenticated()">Hello anonymous</h1>
            <h1 sec:authorize="isAuthenticated()">Hello <span th:text="${myName}"></span></h1>
        </div>
    </div>

</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>